html {
    background-color: chartreuse;
}

h2 {
    color: lightgreen;
    background-color: blue;
    border: 5px solid black;
    padding: 3px;      
    margin: 3px;
}
.infpersonal{
    float: left;
    background-color: blue;
    color: lightgreen;
    text-align: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    border: 5px solid black;
    height: 300px;
    width: 200px;
    padding: 3px;      
    margin: 3px;
}
.infpacurrar{
    display: inline-block;
    color: lightgreen;
    background-color: blue;
    text-align: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    border: 5px solid black;
    height: 600px;
    width: 1000px;
    padding: 3px;      
    margin: 3px;
}
