html {
    background-image: url("fondo2.jpg");
}

h2 {
    color: lightgreen;
    border: 5px solid black;
    width: 1402px;
    padding: 3px;      
    margin: 3px;
}
.infpersonal{
    float: left;
    color: lightgreen;
    text-align: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    border: 5px solid black;
    height: 820px;
    width: 380px;
    padding: 3px;      
    margin: 3px;
}
.infpacurrar{
    display: inline-block;
    color: lightgreen;
    text-align: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    border: 5px solid black;
    height: 600px;
    width: 1000px;
    padding: 3px;      
    margin: 3px;
}
