html {
    background-image: url("fondo2.jpg");
}

h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    border: 5px solid black;
    width: 1202px;
    padding: 3px;      
    margin: 3px;
}
.infpersonal{
    float: left;
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    border: 5px solid black;
    height: 820px;
    width: 380px;
    padding: 3px;      
    margin: 3px;
}
.infpacurrar{
    display: inline-block;
    color: rgb(255, 254, 254);
    text-align: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    border: 5px solid black;
    height: 400px;
    width: 800px;
    padding: 3px;      
    margin: 3px;
}
.infpafardar{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    border: 5px solid black;
    height: 860px;
    width: 800px;
    padding: 3px;      
    margin: 3px;
}
p {
    border: 2px solid yellow;

    color: black;
    background-color: honeydew;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 5px;      
    margin: 5px;
}

.imagenes{
    position: absolute;
    right: 250px;
    top: 5px;
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    border: 5px solid black;
    height: 2075px;
    width: 400px;
    padding: 3px;      
    margin: 3px;

}